<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>사탕팝니다 인증페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>
<!-- 상단 네비게이션 바 -->
<!-- Sidebar -->


<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>사랑 팝니다 사랑사세요</h1>
            <p>이 페이지는 <strong>사랑팝니다 사랑사세요 인증페이지</strong>  입니다.</p>
            <h2>가입 해주셔서 감사합니다.</h2>
            <p>밑에 공지 사항을 확인해 주세요.</p>
            <ul class="actions">

            </ul>
        </div>
    </section>
<div class="container">
    <div style="margin-top: 100px;">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
            dis parturient montes, nascetur ridiculus mus.
        </p>
        <p class="lead">  주의 사항</p>
        <li>1. 대학생이 아닐경우에 법적 책임을 물을 수 있습니다.</li>
        <li>2. 사탕을 구입하시고 맘에 드는 닉네임에 아이디를 추가하시면 됩니다.</li>
        <li>3. 오늘 하루도 좋은 하루 되시길 바랍니다.  </li>
        <a class="btn btn-primary btn-large">새로 고침</a>
        <button type="button" class="btn btn-info">확인</button>
        <button type="button" class="btn btn-info">취소</button></div>
</div>
</div>

</body>
</html>

